body {
  font-family: 'Patrick Hand', cursive;
  background-image: url("../images/light-grey.png");
}

nav {
  background-color: #72dbcd ;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: -1.5px 0 lightsteelblue, 0 1.5px lightsteelblue, 1.5px 0 lightsteelblue, 0 -1.5px lightsteelblue;
}

/* Going around the whole body */
.container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

/* Dropdown menu */
.dropdown-content li>a {
  color: black;
}

/* Form styling for the beginning */
#form-input {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 60px;
}

#first-form {
  background-color: white;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
}

#start {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
}

#intro {
  background-color: white;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 24px;
}


/* Chat styling */
#chat {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 20px;
  display: inline-block;
}

#chatHistory {
  width: 100%;
  padding: 10px;
  max-height: 350px;
  min-height: 200px;
  overflow: scroll
}

#chat-input {
  width: 100%;
  min-height: 100px;
  max-height: 250px;
}

#chat-form {
  width: auto;
  height: auto;
  padding: 10px;
  border-top: 1px dotted black;
  border-radius: 5px;
}

#chatMsg {
 overflow: scroll;
 max-height: 135px;

}


/* Image styling */
#selection {
  min-height: 360px;;
  width: 100%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 24px;
  word-spacing: 200px;
  padding: 10px;
}


img {
  max-height: 200px;
  max-width: 200px;
  padding: 10px;
  
}

img:hover {
  cursor: pointer;
}


h2 {
  word-spacing: 0px;
  padding: 20px;
}

/* score */
#users-score {
  height: 200px;
  width: 100%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}

#users {
  height: 20%;
  width: 100%;
  font-size: 35px;
  border-bottom: 1px solid black;
}

#player1 {
  height: 80%;
  width: 49%;
  float: left;
  
}

#player2 {
  height: 80%;
  width: 49%;
  float: right;
  
}

.their-choice {
  border-radius: 20px;
  background: radial-gradient(lime, white);
}

.their-turn {
  background-color: #72dbcdb7;
  border: 4px dotted black;
}

.winner {
  background-color: rgba(0, 255, 0, 0.541);
  box-shadow: 0 0 0 .2rem rgba(0, 255, 0, 0.144);
  border-radius: 10px;
}

/* Style for the chat bubbles */
.floatLeft {
  padding: 15px;
  margin: 5px;
  float: left;
  height: auto;
  width: auto;
  background-color: lightgray;
  border-radius: 20px;
}

.floatRight {
  padding: 15px;
  margin: 5px;
  float: right;
  height: auto;
  width: auto;
  background-color: #167df2;
  color: white;
  border-radius: 20px;
}

.choiceMsg {
  padding: 15px;
  margin: 5px;
  height: auto;
  width: auto;
  background-color: rgba(0, 255, 55, 0.658);
  color: black;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
}

.outcome {
  background-color: #72dbcd;
  font-size: 30px;
}

